# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# Python Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Docker
docker-compose.override.yml
accounts/migrations/
mentor/migrations/
